<!DOCTYPE HTML>
<html>
	<head>
		<title>Tugonon Construction Services and Supply</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	</head>

	<body class="bg-dark">

		<!-- Header -->
		<header id="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
    		<div class="d-flex flex-grow-1">
        	<span class="w-100 d-lg-none d-block"></span>
        	<a class="navbar-brand d-none d-lg-inline-block" href="#"> <img src="images/pic02.png" width="90" height="60">
        	</a>
        	<div class="w-100 text-right">
          	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
           	     <span class="navbar-toggler-icon"></span>
          	 </button>
       	 </div>
   		 </div>
    	<div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        	<ul class="navbar-nav ml-auto flex-nowrap">
           	 <li class="nav-item">
                	<a href="index.php" class="nav-link m-2 menu-item nav-active">BILLING</a>
            	</li>
            	<li class="nav-item">
                <a href="employee.php" class="nav-link m-2 menu-item nav-active">EMPLOYEE</a>
            </li>
            <li class="nav-item">
                <a href="accounts.php" class="nav-link m-2 menu-item nav-active">ACCOUNTS</a>
            </li>
            <li class="nav-item">
                <button type="submit" class="nav-link m-2 menu-item nav-active">SIGN OUT</a>
            </li>
        </ul>
    			</div>
	</nav>
<!-- nav bar -->



				<br><br><br><br><div class="logo"><a href="#">Billing System <br><br><span>by KYKOBY</span></a></div>
			</header>

		<!-- Main -->
			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="wrapper style1">
						<br>
						<center>
						<div class="box">
							<img src="images/pic02.png" alt="" />
						</div>
						</center>
						<header class="special">
							<h2>A BRIEF INTRODUCTION OF THE COMPANY</h2>
						</header>
						<div class="content">
							<p>Tugonon Construction Services and Supply is a new company that started in the year 2019. Technically it is new but old in a way that it was just renamed. The old name of the company is LJT Builders that started in the early 2000s. The person who runs this company is an engineer/contractor named Leo Javier Tugonon. There are 2 offices located at Lilo-an and Labogon Cebu. </p>
							<p>This company specializes more on renovation and ceiling works but recent projects have been popping creating mini-malls like Insular Square located at Tabok Mandaue City. </p>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style2">
						<header>
							<h2>Construction Projects</h2>
							<p>By Engineer Leo Javier Tugonon</p>
						</header>
						<div class="content">
							<div class="gallery">
								<div>
									<div class="image fit flush">
										<a href="images/pic03.jpg"><img src="images/pic03.jpg" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="images/pic01.jpg"><img src="images/pic01.jpg" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="images/pic04.jpg"><img src="images/pic04.jpg" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="images/pic05.jpg"><img src="images/pic05.jpg" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper">
						<div class="spotlight">
							<div class="image flush"><img src="images/daddyleo.jpg" alt="" /></div>
							<div class="inner">
								<h3>Engineer Leo Javier Tugonon</h3>
								<p>Graduated from University of San Carlos - Talamban Campus and is the head engineer and the contractor of the company</p>
							</div>
						</div>
						<div class="spotlight alt">
							<div class="image flush"><img src="images/pic07.jpg" alt="" /></div>
							<div  class="inner">
								<h3>Agbay Residential Building</h3>
								<p>A recent project of the company. The western look which is inspired by the prevailing Victorian aesthetic, which emphasized dark decor, and busy embellishments both inside and out. </p>
							</div>
						</div>
						<div class="spotlight">
							<div class="image flush"><img src="images/pic12.jpg" alt="" /></div>
							<div class="inner">
								<h3>Insular Square</h3>
								<p>Located at 31 JP Rizal St. Tabok Mandaue City. This is one of the big projects of the company which basically made the company famous and in demand in Cebu.</p>
							</div>
						</div>
					</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://twitter.com/KikoTugz" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/tugononconstructionservicesandsupply/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/kikotugz/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved. Images by<a href="https://www.facebook.com/tugononconstructionservicesandsupply/"> Tugonon Construction Services and Supply</a> 
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>